
h1 {
  color: lightblue;
  text-align: center;
}
.gutter {
}
.make_a_friend {
  max-width: 400px;
}

.wrapper {
  text-align: center;
  margin: auto;
}
.hidden {
  display: none;
}
table img {
  max-width: 150px;
}

